name: CMake

on:
  push:
    tags:
      - v*
    branches:
      - master
      - development
    paths-ignore:
      - README.md
  pull_request:
    branches:
      - master
      - development

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
        compiler:
          - llvm
          - gcc-11
        generator:
          - "Ninja Multi-Config"
        build_type:
          - Release
          - Debug

        include:
          - os: windows-2022
            compiler: msvc
            generator: "Visual Studio 17 2022"
            build_type: Debug

          - os: windows-2022
            compiler: msvc
            generator: "Visual Studio 17 2022"
            build_type: Release

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: seanmiddleditch/gha-setup-ninja@master
    - name: Workaround for Clang
      # workaround for broken clang on ubuntu runner until https://github.com/actions/runner-images/issues/8659 get fixed
      if: ${{ matrix.compiler == 'llvm' }}
      uses: mjp41/workaround8649@7929373c0fe5caf844d8115adccef39e3b5362e7
      with:
        os: ${{ matrix.os }} 
    - name: Set up Clang
      if: ${{ matrix.compiler == 'llvm' }}
      uses: egor-tensin/setup-clang@v1
      with:
        version: 14
        platform: x64

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -G "${{matrix.generator}}" -DCMAKE_BUILD_TYPE:STRING=${{matrix.build_type}} -DTEXT_PROCESSING_ENABLE_TESTS=ON

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{matrix.build_type}}
      
